@value breakpoint-md from '../../../assets/styles/variables.css';

.list { 
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  text-align: center;
}

.link { display: inherit; }

.link,
.logo { 
  width: 25px;
  height: 25px;
}

@media (min-width: breakpoint-md) {
  .list {
    max-width: 150px;
  }
}
