@value breakpoint-md from '../../../assets/styles/variables.css';

.list { 
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  text-align: center;
}

.link { 
  display: inherit; 
  position: relative;
}

.link,
.social { 
  width: 25px;
  height: 25px;
}

.social {
  position: relative;
  top: 0;
  transition: var(--transition);
}

.link:hover .social { top: 1px; }

@media (min-width: breakpoint-md) {
  .list { max-width: 150px; }
}
