@value breakpoint-sm from '../../assets/styles/variables.css';
@value breakpoint-lg from '../../assets/styles/variables.css';

.section-gists { 
  position: relative;
  min-height: 500px;
  background-color: var(--color-bg-section);
}

.error {
  padding: 4rem 0;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  justify-items: center;
  margin: 3rem auto;
}

.list-item {
  display: flex;
  align-items: center;
  width: 90%;
  justify-items: center;
}

.link {
  composes: link from '../../assets/styles/helpers.css';
  margin-left: .76rem; 
  transition: var(--transition);
}

.logo { width: 30px; }

.section-link {
  composes: link from '../../assets/styles/helpers.css';
  text-align: center;
}

.gists-loading svg {
  width: 100px;
  animation: loading-animation 2s infinite ease-in-out; 
  transition: var(--transition);
}

@media (min-width: breakpoint-sm) {
  .list {
    margin: 4rem auto;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .list-item {
    width: 90%;
    justify-items: center;
  }
}

@media (min-width: breakpoint-lg) {
  .list {
    max-width: 800px;
  }

  .section-link { margin-top: 3rem; }
}

@keyframes loading-animation {
  0% { color: var(--color-text); }
  20% { color: var(--color-orange); }
  40% { color: var(--color-purple); }
  60% { color: var(--color-cyan); }
  80% { color: var(--color-gold); }
}
