@value breakpoint-lg from '../../assets/styles/variables.css';
@value breakpoint-xx from '../../assets/styles/variables.css';

.section-work { background-color: var(--color-bg-lighter); }

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ----- About ----- */
.about {
  order: 1;
  margin-top: 3rem;
}

.about h4 {
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: 600;
  margin-bottom: .2rem;
}

.about p { margin-bottom: 1.5rem; }

.ad {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0;
  line-height: 3rem;
  text-align: center;
  border-top: var(--dashed-border) var(--color-primary);
}

.ad img { margin-left: .5rem; }

.linkedin {
  width: 22px;
  height: 22px;
}

/* ----- Work Timeline ----- */
.list {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: .8rem;
}

/* ----- List: center line ----- */
.list::before {
  content: '';
  position: absolute;
  top: 52px;
  left: 50%;
  display: block;
  width: 2px;
  height: calc(100% - 52px);
  background-color: var(--work-pseudo-color);
  transform: translateX(-50%);
}

.list-item {
  display: grid;
  grid-template-columns: 1fr;
}

.list-item-card {
  display: flex;
  align-items: center;
  order: 1;
  position: relative;
  width: 294px;
  margin: 0 auto;
  padding: 0.7rem !important;
}

.list-item-badge {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.6rem;
  color: white;
  padding: 0 0.5rem;
  background: var(--color-primary);
}

/* ----- List Card: circle ----- */
.list-item-card::before {
  content: '';
  position: absolute;
  top: -57px;
  left: 50%;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: var(--color-primary);
  transform: translateX(-50%);
  z-index: 2;
}

.list-item-date {
  margin: 2rem auto;
  font-size: 1.06rem;
  font-weight: 600;
  z-index: 1;
}

.list-item-date span {
  display: inline-block;
  width: 90px;
  text-align: center;
}

/* ----- List Card: content ----- */
.logo {
  width: 68px;
  height: 68px;
  margin-right: 0.8rem;
  background-image: url('../../assets/images/work/work-logos.jpg');
  background-repeat: no-repeat;
  background-size: 280px;
  white-space: nowrap;
  font: 0/0;
  color: transparent;
  box-shadow: var(--box-shadow) var(--box-shadow-color);
}

.logo-nexhealth { background-position: 0 -72px; }
.logo-payvision { background-position: 0 0; }
.logo-webdoctor { background-position: -72px 0; }
.logo-neoway {  background-position: -142px 1px; }
.logo-elogroup {  background-position: -72px -72px; }
.logo-bolt-brasil {  background-position: -141px -72px; }
.logo-standard-giving {  background-position: -210px 0px; }
.logo-medihive {  background-position: -211px -72px; }

.title {
  font-weight: 600;
}

.position {
  font-size: .7rem;
}

@media (hover: hover) {
  .list-item-card:hover::before {
    background-color: var(--color-primary);
  }

  .list-item-card:hover .title {
    color: var(--color-primary);
  }
}

@media (min-width: breakpoint-lg) and (max-width: breakpoint-xx) {
  .content,
  .about,
  .list { flex-direction: row; }

  .content { margin: 3rem 0; }

  .about {
    order: 0;
    width: 40%;
    margin-top: 1rem;
    padding-right: 2rem;
  }

  .list {
    width: 60%;
    height: 520px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list::before {
    top: 58px;
    height: calc(100% - 77px);
    background-color: var(--work-list-pseudo-color);
  }

  .list-item { margin-bottom: 2rem; }

  .list-item-card { height: 90px; }

  .list-item-card::before { top: -26px; }

  .list-item-date {
    margin: 0 auto;
    align-self: center;
  }
}


@media (min-width: breakpoint-xx) {
  .content {
    flex-direction: row;
    margin: 4rem 0;
  }

  .about {
    order: 0;
    margin-top: 1rem;
    padding-right: 1rem;
    width: calc(100% - 704px);
  }

  .list {
    width: 670px;
    height: 100%;
    margin: 0;
  }

  .list::before {
    top: 72px;
    height: calc(100% - 126px);
  }

  .list-item {
    grid-template-columns: 342px auto;
    justify-content: left;
    align-items: center;
    margin-top: 1.2rem;
  }

  .list-item-left {
    grid-template-columns: auto auto;
    align-self: flex-end;
    padding-right: 0.2rem;
  }

  .list-item-card {
    width: 300px;
    margin: 0;
  }

  .list-item-card:hover::after {
    background-color: var(--color-primary);
  }

  .list-item-card::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -39px;
    display: block;
    width: 36px;
    height: 2px;
    background-color: var(--work-pseudo-color);
    transform: translateY(-50%);
  }

  .list-item-left .list-item-card::after {
    left: -33px;
    width: 32px;
  }

  .list-item-card::before {
    top: 50%;
    right: 0;
    left: calc(100% + 32px);
    transform: translateY(-50%);
  }

  .list-item-left .list-item-card::before { left: -40px; }

  .list-item-left .list-item-date {
    order: 0;
    padding-right: 92px;
    padding-left: 0;
  }

  .list-item-date {
    width: auto;
    margin: 0;
    padding-left: 24px;
    order: 1;
  }

  .list-item-date span {
    width: auto;
    padding: 0 .15rem;
  }

  .list-item-date span:first-child:after { content: ' - '; }
}
