.section-gists { background-color: var(--color-grey); }

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
  justify-items: center;
  margin: 4rem auto;
  max-width: 1200px;
}

.list-item {
  width: 230px;
  justify-items: center;
}

.link {
  composes: link from '../../assets/styles/helpers.css';
  composes: transition from '../../assets/styles/helpers.css';
  margin-left: .76rem; 
  font-size: .9rem;
}

.logo { width: 30px; }

.section-link {
  composes: link from '../../assets/styles/helpers.css';
  font-family: var(--font-family-comfortaa);
  font-size: 1rem;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }

  .list-item {
    width: 300px;
    justify-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    max-width: 1200px;
  }

  .section-link { margin-top: 3rem; }
}
