.section-gists { background-color: var(--color-grey); }

.list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2.5rem auto;
  max-width: 800px;
}

.list li {
  flex-basis: 48%;
  min-width: 0;
}

.list li + li { margin-top: 1.7rem; }

.link {
  display: flex;
  align-items: center;
  text-align: left;
}

.link:hover .logo { opacity: 1; }

.logo { width: 30px; }

.title { 
  composes: transition from '../../assets/styles/helpers.css';
  margin-left: .6rem; 
  font-size: .9rem;
  border-bottom: 1px solid transparent;
}

.section-link {
  composes: title;
  font-family: var(--font-family-comfortaa);
  font-size: 1rem;
  text-align: center;
}

.link:hover .title,
.section-link:hover {
  color: var(--color-accent);
  border-bottom-color: var(--color-accent);
}

@media (hover: hover) {
  .logo {
    opacity: .88;
    transition: .06s;
  }
}

@media only screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-direction: row;
    margin: 2rem auto 3rem;
  }

  .list li:first-child {
    margin-top: 1.7rem;
  }

  .title { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .section-link { margin-top: 3rem; }
}
