.section-jobs { background-color: var(--color-grey-lighter); }

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
  justify-items: center;
  margin: 3rem auto;
}

.list-item {
  width: 230px;
  justify-items: center;
  text-align: left;
}

.list-item-wrapper {
  display: flex;
  align-items: center;
}

.logo { 
    width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url('../../../assets/images/jobs/jobs.jpg');
  background-repeat: no-repeat;
  background-size: 150px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.logo-webdoctor { background-position: -50px 0; }
.logo-neoway {  background-position: -100px 0; }
.logo-div64 {  background-position: 0 -50px; }
.logo-elogroup {  background-position: -50px -50px; }
.logo-bolt-brasil {  background-position: -100px -50px; }

.link {
  composes: link from '../../../assets/styles/helpers.css';
  font-size: 1.1rem;
  font-weight: 700;
}

.status {
  display: inline-block;
  padding: 0.3rem 0.35rem 0.25em;
  color: var(--color-white);
  font-size: 0.66rem;
  text-transform: uppercase;
  background-color: var(--color-accent);
}

.position { padding-top: .3rem; }

.section-link {
  composes: link from '../../../assets/styles/helpers.css';
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .list {
    margin: 4rem auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    max-width: 1200px;
  }

  .section-link { margin-top: 3rem; }
}
