:global(.home) { opacity: 0; }

:global(.home):global(.home-initialized) {
  transition: .7s cubic-bezier(0.22, 0.61, 0.36, 1);
  animation: fade-content .5s cubic-bezier(0.22, 0.61, 0.36, 1) .1s forwards;
}

.loading { position: fixed; }

.fade-loading {
  transition: 2s;
  animation: fade-loading .26s linear forwards;
}

.home-loading { pointer-events: none; }

.home-loading:after {
  background: linear-gradient(90deg, var(--color-orange), var(--color-blue));
}

@keyframes fade-loading {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fade-content {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
