.wrapper { text-align: center; }

.section-link {
  composes: link from '../../../assets/styles/helpers.css';
  font-size: 1.1rem;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .section-link { margin-top: 3rem; }
}
