@value breakpoint-sm from '../../assets/styles/variables.css';
@value breakpoint-lg from '../../assets/styles/variables.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 1rem;
  font-family: 'Dancing Script', cursive;
}

.bull {
  display: block;
  font-size: 4rem;
}

h1 {
  margin-bottom: 4rem;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
}

input {
  opacity: 0;
}

input:checked + .radio:after {
  opacity: 1;
}

.radio-wrapper,
.options {
  display: flex;
  align-items: center;
}

.options {
  flex-direction: column;
}

.radio-wrapper {
  cursor: pointer;
  margin-bottom: 1rem;
}

.radio-wrapper:hover.yes .radio {
  border-color: #2ab32a;
  box-shadow: -4px 4px 4px #74db74;
}

.radio-wrapper:hover.no .radio {
  border-color: #b3452a;
  box-shadow: -4px 4px 4px #eb6949;
}

.radio {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border: 2px solid #9d9d9d;
  border-radius: 10px;
  transition: .2s;
}

.radio:after {
  position: absolute;
  left: 50%;
  top: 55%;
  font-size: 4rem;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: .2s;
}

.yes .radio:after {
  content: '🐠'; 
}

.no .radio:after {
  content: '🎣'; 
}

.radio-label {
  font-size: 4rem;
}

@media (min-width: breakpoint-lg) {
  h1 {
    font-size: 8rem;
    line-height: 11rem;
    margin-bottom: 4rem;
  }

  .options {
    flex-direction: row;
  }

  .radio-wrapper + .radio-wrapper {
    margin-left: 100px;
  }

  .radio-wrapper {
    margin-bottom: 0;
  }

  .radio-label {
    font-size: 5rem;
  }
}
