<header>
  <div class="picture-wrapper">
    <img class="picture" src="assets/images/me.jpg" srcset="assets/images/me@2x.jpg 2x,/assets/images/me@3x.jpg 3x, assets/images/me@4x.jpg 4x" alt="Gabriel Lima">
  </div>
  <h1>Gabriel Lima</h1>
  <h2 id="subtitle">Front-End Developer</h2>
</header>

<p class="bio">Working in web development for almost 8 years with solid experience developing web applications, creating rich UI components, building RESTful APIs and improving development workflow (CI/CD and product infrastructure). Always learning and keeping track of modern technologies and new standards.</p>
