<section class="section section-social-links">
  <ul class="social-links-list">
    <li>
      <a class="social-link" href="https://www.linkedin.com/in/gabriel--lima/" title="Go to my LinkedIn Profile">
        <img src="assets/images/logos/linkedin.svg" alt="Suitcase emoji image">
        <span>LinkedIn</span>
      </a>
    </li>
    <li>
      <a class="social-link" href="https://twitter.com/__glima" title="Go to my Twitter Profile">
        <img src="assets/images/logos/twitter.svg" alt="Bird emoji image">
        <span>Twitter</span>
      </a>
    </li>
    <li>
      <a class="social-link" href="https://github.com/the-glima" title="Go to my GitHub Profile">
        <img src="assets/images/logos/github.svg" alt="Laptop emoji image">
        <span>GitHub</span>
      </a>
    </li>
  </ul>  
</section>
