<ul class="social-links">
  <li>
    <a href="https://www.linkedin.com/in/gabriel--lima/" title="Go to my LinkedIn profile">
      <img src="assets/images/linkedin.svg" alt="Suitcase emoji image">
      <span>LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/__glima" title="Go to my Twitter profile">
      <img src="assets/images/twitter.svg" alt="Bird emoji image">
      <span>Twitter</span>
    </a>
  </li>
  <li>
    <a href="https://github.com/the-glima" title="Go to my GitHub profile">
      <img src="assets/images/github.svg" alt="Laptop emoji image">
      <span>GitHub</span>
    </a>
  </li>
  <!-- <li>
    <a href="/blog" title="Go to my Blog page">
      <img src="assets/images/blog.svg" alt="Paper and pencil emoji image">
      <span>Blog</span>
    </a>
  </li> -->
</ul>  
