*,  
*:before, 
*:after { box-sizing: inherit; }

html {
  font-size: var(--font-size);
  min-width: 300px;
  height: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 1em;
  font-family: var(--font-family-base);
  line-height: var(--font-line-height);
  font-weight: 400;
}

a,
a:hover,
a:focus {
  color: var(--color-black);
  text-decoration: none;
  outline: none;
}

b,
strong { font-weight: 600; }

i { font-style: normal; }

h2 {
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 600;
  font-family: var(--font-family-comfortaa);
}

h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: var(--font-family-comfortaa);
}

.section { padding: 2rem 1.5rem; }

@media only screen and (min-width: 576px) {
  :root {
    --font-size: 16px;
    --font-line-height: 1.6;
  }

  .section { padding: 2.5rem; }
}
