html {
  font-size: var(--font-size-root);
  min-width: 300px;
  height: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-size: var(--font-size);
  font-family: var(--font-family-system);
  line-height: var(--font-line-height);
  font-weight: var(--font-weight-body);
  transition: background-color .2s ease-out;
  -webkit-tap-highlight-color: rgba(var(--color-accent), .1);
}

body.dark-mode {
  --box-shadow-color: var(--color-black);
  --color-text: var(--color-white-2);
  --color-bg: var(--color-black-2);
  --color-bg-section: var(--color-black);
  --color-white: var(--color-white-2);
  --color-grey-dark: var(--color-black-full);
  --color-accent: var(--color-gold);
  --color-card-text: var(--color-white);
  --color-card-background: rgb(59, 59, 59);
  --color-card-border: #353535;
  --color-accent-darker: var(--color-gold-darker);
  --dashed-border-color: var(--color-grey-dark-1);
  --work-pseudo-color: var(--color-grey-dark-1);
  --work-list-pseudo-color: var(--color-black);
}

body.dark-mode img {
  opacity: .96;
  transition: opacity var(--transition);
}

/* Personalities Accent Color */
body.accent-orange {
  --color-accent: #f65e5e;
}

body.accent-purple {
  --color-accent: #7B4DA7;
}

body.dark-mode.accent-purple {
  --color-accent: #ba33f8;
}

body.accent-cyan {
  --color-accent: #4da39d;
}

body.dark-mode.accent-cyan {
  --color-accent: #2dbadd;
}

body.accent-green {
  --color-accent: #7eda5c;
}

body.dark-mode.accent-green {
  --color-accent: #9fdd2d;
}
  
@media (hover: hover) {
  body.dark-mode img:hover { opacity: 1; }
}

body.dark-mode .dark-logo {
  filter: invert(1);
}

.section { 
  padding: 2rem 1rem 2.5rem;
  transition: background-color .2s ease-out;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (min-width: 576px) {
  .section { padding: 2rem 2rem 2.5rem; }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
