/* Variables
------------------------------------- */

:root {
  --border-radius: 2px;
  --box-shadow-color: #D3D3D3;
  --box-shadow: 3px 3px 0;
  --color-primary: #213d8f;
  --color-secondary: #8ec03f;
  --color-accent: #4B66F2;
  --color-accent-darker: #2d47ce;
  --color-accent-lighter: #ccd3f7;
  --color-success: #8ec03f;
  --color-purple: #5B2C83;
  --color-gold: #efbb35;
  --color-gold-darker: #dda414;
  --color-error: #c03f3f;
  --color-grey: #f3f3f3;
  --color-grey-2: #e8e8e8;
  --color-grey-3: #c2c2c2;
  --color-grey-dark: #a7a7a7;
  --color-grey-dark-1: #525252;
  --color-black: #212121;               
  --color-black-full: #080808;
  --color-black-2: #272727;
  --color-white: #ffffff;
  --color-white-2: #fdfdfd;
  --color-bg: var(--color-white);
  --color-text: var(--color-black);
  --color-bg-section: var(--color-grey);
  --color-card-text: var(--color-text);
  --color-card-background: var(--color-white);
  --color-card-border: transparent;
  --dashed-border: 1px dashed;
  --dashed-border-color: rgba(0,0,0,.2);
  --font-size-root: 16px;
  --font-size: 1rem;
  --font-line-height: 1.6;
  --font-weight: 400;
  --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --transition: .06s ease-in-out;
}
