/* Variables
------------------------------------- */

@value breakpoint-xs: 320px;
@value breakpoint-sm: 576px;
@value breakpoint-md: 768px;
@value breakpoint-lg: 992px;
@value breakpoint-xl: 1024px;
@value breakpoint-xx: 1200px;
