name: Main

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm ci

      # - name: Run Lint
      #   if: success()
      #   run: npm run lint

      # - name: Run Unit Tests
      #   if: success()
      #   run: npm test

      - name: Run Build
        if: success()
        run: npm run build

      - name: Upload Build Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: build

  release:
    name: Release
    needs: build
    if: github.ref == 'refs/heads/main' && needs.build.result == 'success' && !contains(github.event.head_commit.message, '[skip ci]')
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.update_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        id: semantic
        with:
          branch: main
          extra_plugins: |
            @semantic-release/git
            @semantic-release/changelog
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Update README File
        id: update_version
        if: steps.semantic.outputs.new_release_published
        run: |
          RELEASE_VERSION=$(bash ./scripts/get-json-value.sh version package.json)
          echo "::set-output name=version::${{ steps.semantic.outputs.new_release_version }}"
          echo "\nVersion ${{ steps.semantic.outputs.new_release_version }}" >> ./docs/README.md

      - name: Upload README Artifact
        if: steps.semantic.outputs.new_release_published
        uses: actions/upload-artifact@v4
        with:
          name: readme-artifact
          path: ./docs/README.md

      - name: Upload CHANGELOG Artifact
        if: steps.semantic.outputs.new_release_published
        uses: actions/upload-artifact@v4
        with:
          name: changelog-artifact
          path: CHANGELOG.md

  deploy:
    name: Deploy to GH-Pages
    needs: release
    if: github.ref == 'refs/heads/main' && needs.build.result == 'success' && !contains(github.event.head_commit.message, '[skip ci]')
    runs-on: ubuntu-latest
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-artifact
          path: .

      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.PAT_TOKEN }}
          publish_dir: .
          cname: gabriel-lima.com
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: 'chore: deploy [skip-ci]'
